@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-Color:#3d8168;
    font-family: 'Roboto', sans-serif;
}
body {
    scroll-behavior: smooth;
    background-color: #f3eae3;
        margin-top: auto;
}
.desktop {
    display: none;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent {
    overflow: hidden;
    border-radius: 8px;
    width: 400px;
}
.img  {
    width: 100%;
}
.main-pic {
    width: 100%;  
    max-width: 100%; 
}
.box {
    background-color: white;
    padding: 20px;
    padding-bottom: 25px;
    width: 400px;
    position: relative;
    top: -4px;
}
h6 {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-Color);
    font-size: 14px;
    font-weight: 300;
}
.box h2 {
    margin: 1rem auto;
    font-weight: 900;
    font-size: 40px;
    line-height: 38px;
    font-family:'Fraunces', serif;;
}
.box p {
    color: var(--main-Color);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
}
.prices {
    display: flex;
    align-items: center;
     margin: 16px 0;
}
.old-price {
 text-decoration: line-through;
 color:#444;
 font-size: 12px;
 margin: 15px;
 
}
.price {
    color: var(--main-Color);
    font-weight: bold;
    display: inline-block;
    font-size: 42px;
}
.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--main-Color);
    width: 100%;
    border-radius: 6px;
    color: white;
    padding:15px 0;
    box-sizing: content-box;
    font-size: calc(1vw + 6px);
    font-weight: 400;
}
.btn img {
margin: 5px;
width: 15px;
}
@media (min-width:767px) {
    .desktop {
        display: block;
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .box {
        padding: 50px 40px 40px;
        position: relative;
        top: 0;
    }
    .box h2 {
        margin: 30px auto;
        font-size: 48px;
        line-height: 45px;
    }
    .img {
        width: 50%;
    }
    .parent {
        display: flex;
        width: 800px;
        justify-content: center;
    }
    .prices {
        margin: 30px 0;
    }
}

.btn:hover {
    background-color: #1a4031;
}


.attribution {
    margin: 20px;
    background-color: var(--main-Color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    bottom: 0;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 10px;
}
.attribution a{
    margin: auto 10px;
    text-decoration: none;
    color: aqua;
    letter-spacing: 1px;
}
